<div class="modal" id="applyModal">
  <div class="modal-content">
    <div class="header-modal">
      <button class="close">
        <%= image_tag 'close.svg' %>
      </button>
    </div>
    <div class="">
      <div class="mx-auto form-wrapper">
        <div class="job-info-wrapper">
          <div class="job-list__overview">
            <% if @job_board.logo_image.attached? %>
            <div class="job-list__company-logo">
              <%= image_tag @job_board.logo_image %>
            </div>
            <% end %>
            <div class="job-list__job-title">
              <h3>
                <%= @job.title %>
              </h3>
              <p class="job-list__job_brief">
                <span>
                  <%=@job.category %></span>
                <span class="ellipse"></span>
                <span>
                  <%=@job.location %></span>
                <span class="ellipse"></span>
                <span>
                  <%=@job.employment_type&.humanize %>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <h4>Submit your application</h4>
        <p class="sub-header">The following is required and will only be shared with
          <%= @organization.name%>
        </p>
        <%= form_with model: Candidate.new, url: apply_api_v1_publics_organization_job_url(host: Rails.application.credentials[Rails.env.to_sym][:api_url], id: @job.id, organization_id: @organization.id), method: :post, id: 'applyJobForm', local: false do |form| %>
        <div class="resume-wrapper">
          <div>
            <%= form.label :resume, "Attached your resume", class: 'required mb-0' %>
            <p class="help">Supported upload formats: 5MB max in .DOCX or .PDF</p>
            <p id="candidate_resume_error" class="error-text mb-0"></p>
          </div>
          <div>
            <div class="resume">
              <%= form.file_field :resume, class: 'hidden', accept: ".docx, .pdf"%>
              <%= image_tag 'attachment.svg' %>
              <div id="candidate_resume_file_name">Attach Resume/CV</div>
            </div>
          </div>
        </div>
        <%= form.label :name, "Full name", class: 'required' %>
        <%= form.text_field :name, placeholder: 'Enter your full name' %>
        <%= form.label :email, "Email", class: 'required' %>
        <%= form.email_field :email, placeholder: 'Enter your email address' %>
        <%= form.label :phone, "Phone number" %>
        <%= form.text_field :phone, placeholder: 'Enter your phone number' %>
        <%= form.label :location, "Location" %>
        <%= form.text_field :location, placeholder: 'City, state, etc.' %>
        <div class="divider"></div>
        <%= form.label :notes, "Additional information" %>
        <%= form.text_area :notes, placeholder: 'Add a cover letter or anything else you want to share', cols:"70", rows:"5" %>
        <div class="divider"></div>
        <div id="errorMsg" class="error-text"></div>
        <%= form.submit "Submit Application", class: 'btn btn-primary btn-submit' %>
        <p class="terms">
          By sending the request you can confirm that you accept our <a href="#" class="text-primary">Terms of Service</a> and <a href="#" class="text-primary">Privacy Policy</a>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="backdrop" class="backdrop"></div>
