<% content_for :head do %>
<title>
  <%=@organization.name %>
</title>
<meta property="og:title" content="<%= @job_board.seo_title_content %>" />
<meta property="og:description" content="<%= @job_board.seo_description_content %>" />
<% if @job_board.og_default? && @job_board.logo_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.logo_image) %>">
<%end%>
<% if @job_board.og_custom? && @job_board.social_media_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.social_media_image)%>">
<%end%>
<% end %>
<header class="">
  <div class="header-container">
    <div class="organization__info">
      <% if @job_board.logo_image.attached? && !@job_board.name_only? %>
      <div class="organization__logo">
        <%= image_tag @job_board.logo_image %>
      </div>
      <% end %>
      <% if !@job_board.logo_only? %>
      <h5 class="organization__name">
        <%= @organization.name %>
      </h5>
      <% end %>
    </div>
    <% if @organization.website_url.present? %>
    <a href="https://<%=@organization.website_url %>" target="_blank" rel="external" class="organization__website">Visit Website</a>
    <% end %>
  </div>
</header>
<main class="">
  <div class="job-board">
    <div class="jobs-container">
      <div class="jobs-filter">
        <h2>Find your <span>dream job</span></h2>
        <%= form_tag('', method: :get, class: 'jobs-filter__form') do %>
         <div class="jobs-filter__field-group custom-select">
          <%= select_tag "category", options_for_select(@search_options.category, params[:category]), prompt: 'Job category', onchange: 'this.form.submit()' %>
        </div>
        <div class="jobs-filter__field-group custom-select">
          <%= select_tag "location", options_for_select(@search_options.locations, params[:location]), prompt: 'Job Location', onchange: 'this.form.submit()' %>
        </div>
        <div class="jobs-filter__field-group custom-select">
          <%= select_tag "employment_type", options_for_select(@search_options.employment_type, params[:employment_type]), prompt: 'Job type', onchange: 'this.form.submit()' %>
        </div>
        <button class="btn btn-primary">Search</button>
        <% end %>
      </div>
      <div class="job-listing container">
        <div class="job-listing__section-header">
          Showing <span class="semibold"><%=@jobs.count %></span>
           <%=(@jobs.count > 1) ? "results" : "result" %>
        </div>
        <ul class="job-listing__jobs">
          <%@jobs.each do |job| %>
          <li class="job-listing__job-item">
            <a href='<%= job_url(job.slug) %>' , class="job-listing__job-link" do%>
              <div class="job-listing_job-main-content">
                <h3 class="job-listing__job-title">
                  <%=job.title %>
                </h3>
                <span class="job-listing__job-location">
                  <%=job.location %></span>
                <div class="job-listing__job-info">
                  <span class="job-listing__job-type">
                    <%=job.employment_type.humanize %></span>
                  <div class="line"></div>
                  <span class="job-listing__job-category">
                    <%=job.category %></span>
                  <div class="line"></div>
                  <i>
                    <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.5 20.7353C10.7091 20.7353 12.5 18.8786 12.5 16.5882C12.5 14.2979 10.7091 12.4412 8.5 12.4412C6.29086 12.4412 4.5 14.2979 4.5 16.5882C4.5 18.8786 6.29086 20.7353 8.5 20.7353Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M24.5 12.4412C26.7091 12.4412 28.5 10.5845 28.5 8.29415C28.5 6.0038 26.7091 4.14709 24.5 4.14709C22.2909 4.14709 20.5 6.0038 20.5 8.29415C20.5 10.5845 22.2909 12.4412 24.5 12.4412Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M24.5 29.0295C26.7091 29.0295 28.5 27.1728 28.5 24.8824C28.5 22.5921 26.7091 20.7354 24.5 20.7354C22.2909 20.7354 20.5 22.5921 20.5 24.8824C20.5 27.1728 22.2909 29.0295 24.5 29.0295Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12.1001 14.7912L20.9001 10.0912" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12.1001 18.3853L20.9001 23.0853" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </i>
                </div>
              </div>
              <div class="job-listing_job-additional-content">
                <span><%= time_ago_in_words(job.created_at) %> ago </span>
                <span>
                  ·
                </span>
                <span class="semibold">
                  <%= pluralize(job.candidates.count, 'applicants') %>
                </span>
              </div>
            </a>
          </li>
          <%end %>
        </ul>
      </div>
    </div>
  </div>
</main>
<%= render 'shared/footer' %>
