<% content_for :head do %>
<title>
  <%=@organization.name %>
</title>
<meta property="og:title" content="<%= @job_board.seo_title_content %>" />
<meta property="og:description" content="<%= @job_board.seo_description_content %>" />
<% if @job_board.og_default? && @job_board.logo_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.logo_image) %>">
<%end%>
<% if @job_board.og_custom? && @job_board.social_media_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.social_media_image)%>">
<%end%>
<% end %>
<header class="border-bottom">
  <div class="header-container">
    <div class="organization__info">
      <% if @job_board.logo_image.attached? && !@job_board.name_only? %>
      <div class="organization__logo">
        <%= image_tag @job_board.logo_image %>
      </div>
      <% end %>
      <% if !@job_board.logo_only? %>
      <h5 class="organization__name">
        <%= @organization.name %>
      </h5>
      <% end %>
    </div>
    <% if @organization.website_url.present? %>
    <a href="https://#{<%=@organization.website_url %>}" target="_blank" rel="external" class="organization__website">Visit Website</a>
    <% end %>
  </div>
</header>
<main class="">
  <div style="background: var(--qrh-c-tertiary);">
    <div class="container">
      <div class="breadcrumb">
        <%= "Jobs / #{@job.category} /"%>
        <span class="color-black">
          <%= @job.title %>
        </span>
      </div>
      <div class="job-list">
        <div class="job-list__overview">
          <div class="job-list__company-logo">
            <%= image_tag @job_board.logo_image %>
          </div>
          <div class="job-list__job-title">
            <h3>
              <%= @job.title %>
            </h3>
            <p class="job-list__job_brief">
              <span>
                <%=@job.category %></span>
              <span class="ellipse"></span>
              <span>
                <%=@job.location %></span>
              <span class="ellipse"></span>
              <span>
                <%=@job.employment_type.humanize %></span>
            </p>
          </div>
        </div>
        <div class="job-list__action">
          <a href="#" title="share"><i>
              <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.66797 20.7647C10.8771 20.7647 12.668 18.908 12.668 16.6176C12.668 14.3273 10.8771 12.4706 8.66797 12.4706C6.45883 12.4706 4.66797 14.3273 4.66797 16.6176C4.66797 18.908 6.45883 20.7647 8.66797 20.7647Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24.668 12.4706C26.8771 12.4706 28.668 10.6139 28.668 8.32357C28.668 6.03321 26.8771 4.17651 24.668 4.17651C22.4588 4.17651 20.668 6.03321 20.668 8.32357C20.668 10.6139 22.4588 12.4706 24.668 12.4706Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24.668 29.0589C26.8771 29.0589 28.668 27.2022 28.668 24.9118C28.668 22.6215 26.8771 20.7648 24.668 20.7648C22.4588 20.7648 20.668 22.6215 20.668 24.9118C20.668 27.2022 22.4588 29.0589 24.668 29.0589Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.268 14.8206L21.068 10.1206" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.268 18.4147L21.068 23.1147" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </i></a>
          <div class="line"></div>
          <button class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <div class="job-content container">
    <div class="job-content__description">
      <%= @job.description&.html_safe %>
    </div>
    <div class="job-content__info">
      <h4>About this role</h4>
      <div class="job-content__info__line">
        <label>Job posted on</label>
        <span class="semibold"><%= @job.created_at.strftime('%b %d, %Y') %></span>
      </div>
      <div class="job-content__info__line">
        <label>Application closed</label>
        <span class="semibold"><%= (@job.created_at + 1.month).strftime('%b %d, %Y') %></span>
      </div>
      <div class="job-content__info__line">
        <label>Job Type</label>
        <span class="semibold"><%= @job.employment_type.humanize %></span>
      </div>
      <div class="job-content__info__line">
        <label>Salary</label>
        <span class="semibold"><%= @job.base_salary %></span>
      </div>
    </div>
  </div>
  <div class="fix-bottom shadow">
    <div class="job-bottom">
        <div class="job-list__overview">
          <div class="job-list__job-title">
            <h3>
              <%= @job.title %>
            </h3>
          </div>
        </div>
        <div class="job-list__action">
          <a href="#" title="share"><i>
              <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.66797 20.7647C10.8771 20.7647 12.668 18.908 12.668 16.6176C12.668 14.3273 10.8771 12.4706 8.66797 12.4706C6.45883 12.4706 4.66797 14.3273 4.66797 16.6176C4.66797 18.908 6.45883 20.7647 8.66797 20.7647Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24.668 12.4706C26.8771 12.4706 28.668 10.6139 28.668 8.32357C28.668 6.03321 26.8771 4.17651 24.668 4.17651C22.4588 4.17651 20.668 6.03321 20.668 8.32357C20.668 10.6139 22.4588 12.4706 24.668 12.4706Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24.668 29.0589C26.8771 29.0589 28.668 27.2022 28.668 24.9118C28.668 22.6215 26.8771 20.7648 24.668 20.7648C22.4588 20.7648 20.668 22.6215 20.668 24.9118C20.668 27.2022 22.4588 29.0589 24.668 29.0589Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.268 14.8206L21.068 10.1206" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.268 18.4147L21.068 23.1147" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </i></a>
          <div class="line"></div>
          <button class="btn btn-primary">Apply</button>
        </div>
      </div>
  </div>
  <div class="mb-20">
    <%= render 'shared/footer' %>
  </div>
</main>
