<% content_for :head do %>
<title>
  <%=@organization.name %>
</title>
<meta property="og:title" content="<%= @job_board.seo_title_content %>" />
<meta property="og:description" content="<%= @job_board.seo_description_content %>" />
<% if @job_board.og_default? && @job_board.logo_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.logo_image) %>">
<%end%>
<% if @job_board.og_custom? && @job_board.social_media_image.attached? %>
<meta property="og:image" content="<%= rails_blob_url(@job_board.social_media_image)%>">
<%end%>
<% end %>
<header class="border-bottom">
  <div class="header-container">
    <a class="organization__info" href="<%= @home_path %>">
      <% if @job_board.logo_image.attached? && !@job_board.name_only? %>
      <div class="organization__logo">
        <%= image_tag @job_board.logo_image %>
      </div>
      <% end %>
      <% if !@job_board.logo_only? %>
      <h5 class="organization__name">
        <%= @organization.name %>
      </h5>
      <% end %>
    </a>
    <% if @organization.website_url.present? %>
    <a href="https://<%=@organization.website_url %>" target="_blank" rel="external" class="organization__website">Visit Website</a>
    <% end %>
  </div>
</header>
<main class="">
  <div style="background: var(--qrh-c-tertiary);">
    <div class="container">
      <div class="breadcrumb">
        <a href="<%= @home_path %>">Jobs</a>/
        <a href="<%= "#{@home_path}?category=#{@job.category}" %>">
          <%= @job.category %>
        </a>/
        <span class="color-black">
          <%= @job.title %>
        </span>
      </div>
      <div class="job-list">
        <div class="job-list__overview">
          <div class="job-list__company-logo">
            <%= image_tag @job_board.logo_image %>
          </div>
          <div class="job-list__job-title">
            <h3>
              <%= @job.title %>
            </h3>
            <p class="job-list__job_brief">
              <span>
                <%=@job.category %></span>
              <span class="ellipse"></span>
              <span>
                <%=@job.location %></span>
              <span class="ellipse"></span>
              <span>
                <%=@job.employment_type.humanize %></span>
            </p>
          </div>
        </div>
        <div class="job-list__action">
          <a href="#" onclick="cobyJobLink(event, '<%=request.url %>');return false;" title="share">
            <i>
              <%= image_tag  'share.svg' %>
            </i>
          </a>
          <div class="line"></div>
          <button class="btn btn-primary btn-apply">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <div class="job-content container">
    <div class="job-content__description">
      <%= @job.description&.html_safe %>
    </div>
    <div class="job-content__info">
      <h4>About this role</h4>
      <div class="job-content__info__line">
        <label>Job posted on</label>
        <span class="semibold">
          <%= @job.created_at.strftime('%b %d, %Y') %></span>
      </div>
      <div class="job-content__info__line">
        <label>Application closed</label>
        <span class="semibold">
          <%= (@job.created_at + 1.month).strftime('%b %d, %Y') %></span>
      </div>
      <div class="job-content__info__line">
        <label>Job Type</label>
        <span class="semibold">
          <%= @job.employment_type.humanize %></span>
      </div>
      <div class="job-content__info__line">
        <label>Salary</label>
        <span class="semibold">
          <%= @job.base_salary %></span>
      </div>
    </div>
  </div>
  <div class="fix-bottom shadow">
    <div class="job-bottom">
      <div class="job-list__overview">
        <div class="job-list__job-title">
          <h3>
            <%= @job.title %>
          </h3>
        </div>
      </div>
      <div class="job-list__action">
        <a href="#" onclick="cobyJobLink(event, '<%=request.url %>');return false;" title="share">
          <i>
            <%= image_tag 'share.svg' %>
          </i>
        </a>
        <div class="line"></div>
        <button class="btn btn-primary btn-apply">Apply</button>
      </div>
    </div>
  </div>
  <div class="mb-20">
    <%= render 'shared/footer' %>
  </div>
</main>
<div class="toast">
  <%= image_tag 'circle-check.svg' %>
  <span>URL copied to clipboard 🔗</span>
</div>
<%= render 'apply' %>
<script>
var modal = document.getElementById("applyModal");
var backDrop = document.getElementById("backdrop");

var applyBtns = document.querySelectorAll("button.btn-apply");

// Get the <span> element that closes the modal
var closeBtn = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal


applyBtns.forEach((btn) => {
  btn.onclick = function() {
    modal.style.display = "block";
    backDrop.style.display = "block";
    document.body.style.overflow = "hidden";
  }
});

// When the user clicks on <span> (x), close the modal
closeBtn.onclick = function() {
  modal.style.display = "none";
  backDrop.style.display = "none";
  document.body.style.overflow = "auto";
}
</script>
